<table class="legend" border="0">
  <tr>
    <th>legend</th>
    <th></th>
  </tr>
  <tr>
    <td><img src="/assets/mm_20_white.png" /></td>
    <td>Not Complete (Fish Sample only)</td>
  </tr>
   <tr>
    <td><img src="/assets/mm_20_green.png" /></td>
    <td>Complete (Fish Sample only)</td>
  </tr>
  <tr>
    <td><img src="/assets/WhiteTriangle.png" /></td>
    <td>Not Complete (Fish/LPI/Demo Sample)</td>
  </tr>
  <tr>
    <td><img src="/assets/GreenTriangles.png" /></td>
    <td>All Complete (Fish/LPI/Demo Sample)</td>
  </tr>
  <tr>
    <td><img src="/assets/YellowTriangle.png" /></td>
    <td>Fish Complete (Fish/LPI/Demo Sample)</td>
  </tr>
  <tr>
    <td><img src="/assets/OrangeTriangle.png" /></td>
    <td>LPI/Demo Complete (Fish/LPI/Demo Sample)</td>
  </tr>
  <tr>
    <td><img src="/assets/mm_20_black.png" /></td>
    <td>Alternate</td>
  </tr>
  <tr>
    <td><img src="/assets/Cross.png" /></td>
    <td>No Habitat Found</td>
  </tr>
</table>

